<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Audio Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="nav">
        <div class="nav__logo"><a href="/">SoundByte</a></div>
        <ul class="nav__links">
            <li><a href="/audio/list">Audios</a></li>
            <li><a href="/category/list">Categories</a></li>
        </ul>
</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Audio Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>

    body{
        background-color:#cbe6ff
    }

    a:link {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        text-decoration: none;
        color: inherit;
    }

    .nav {
        display: flex;
        flex-direction: column;
        background-color: dodgerblue;
        color: white;
        align-items: center;
    }

    .nav__logo {
        font-size: 2em;
        font-weight: bold;
        justify-content: center;
        padding:8px;
    }

    .nav__links {
        display: flex;
        justify-content: space-between;
        width: 30vw;
        min-width: 300px;
        text-decoration: none;
        color: white;
        list-style-type: none;
    }

    .page-title {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .form-div {
        display: block;
        text-align: center;
    }

    .form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .object-title{
        text-align:center;
    }

    .label{
        min-width:10vw;
    }

    .form__input{
        margin:8px;
    }
</style>
